numpy
pandas
pandas_datareader
datetime
ta
tk
matplotlib
seaborn
plotly
plotly.express
streamlit
streamlit-authenticator
tweepy
praw
scikit-learn
yfinance
yahoofinancials
yahoo_fin
prophet
Algorithms
requests
selectolax
lxml
quandl
PyportfolioOpt
streamlit_pdf_viewer
bsedata
nsepy
Authlib
st-paywall
gcsfs
st-files-connection
stripe
authlib
google-auth
firebase-admin
